.about-content {
  padding: 2%;
  height: 60%;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  text-align: center;
  font-size: 1.1vw;
  line-height: 3vh;
}

.about-content-container {
  padding-top: 16%;
}

body.o-nas {
  background: url("../images/about_bg.png");
  background-attachment: fixed;
  background-size: cover;
}
