.offer-container {
  height: 100%;
  width: 100%;
}

@mixin background-image($url) {
  background: url($url);
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.offer-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 72, 112, 0.75);
  filter: brightness(25%);
}

.gallery-text {
  z-index: 100;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  padding: 12px 0 4px 0;
}

.gallery-text h4 {
  font-size: 1rem !important;
  color: whitesmoke !important;
}

.offer-image:hover {
  opacity: 0;
}

.gallery-product {
  width: auto;
}

@media only screen and (orientation: landscape){
  .gallery-product {
    height:50vmin;
  }
}

@media only screen and (orientation: portrait){
  .gallery-product {
    height: 33vmax;
  }
}

#stoly-image {
  @include background-image("../images/1stoly.png");
}
#oswietlenie-image {
  @include background-image("../images/2oswietlenie.png");
}
#lustra-image {
  @include background-image("../images/3lustra.png");
}
#drzwi-image {
  @include background-image("../images/4drzwi.png");
}
#blaty-image {
  @include background-image("../images/5blaty.png");
}
#lazienka-image {
  @include background-image("../images/6lazienka.png");
}
#akcesoria-image {
  @include background-image("../images/7akcesoria.png");
}
#inne-image {
  @include background-image("../images/8inne.png");
}