.bx-viewport, .bx-wrapper{
  position:relative;
  top:0;
  left:0;
  padding: 0;
  margin: 0;
}

.bx-wrapper {
  height: 100%;
}

body.projects .bx-wrapper {
  height: 90% !important;
}

.bx-viewport {
  height: 100% !important;
}

.bxslider, .bxslider li {
  height: 100%;
  min-height: 500px;
}

body.projects .bxslider li{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 90%;
}

.bxslider li{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bx-wrapper .bx-viewport{
  height: 100%;
  border: none !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0px 5px 0px 5px !important;
}