.menu-container {
  font-family: 'tech-help', 'Arial', 'sans-serif';
  background: $site_main_blue !important;
  height: 100%;
}
.menu-logo img {
  @media screen and (max-width: 768px) {
    max-width: 60%;
  }
  @media screen and (min-width: 768px) {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .bootstrap-vertical-nav .collapse {
    display: block;
  }
}

@media (max-width: 768px) {
  .menu-container {
    font-family: 'tech-help', 'Arial', 'sans-serif';
    height: auto;
    background: none !important;
  }
  .menu-list {
    margin: 10% 0 0 0 !important;
    background: none !important;
  }

  .menu-item {
    background: none !important;
  }

  .menu-logo {
    height: 100px !important;
  }
}

.menu-logo {
  max-height: 16% !important;
}

.menu-list {
  background: $site_main_blue;
  border: none;
  padding: 0;
  margin: 50% 0 0 0;
  text-align: center !important;
}

.menu-item {
  background: $site_main_blue;
  border: none;
  color: #7E6E56;
  text-transform: uppercase;
  text-align: center  !important;
  display: block;
}

.menu-list a:hover {
  text-decoration: none;
}